/* .h-90-percent {
    height: 90%;
}

.h-10-percent {
    height:10%;
}

.my-color {
    background-color: rgb(137, 228, 167);
} */


body, html {
    width: 100%;
    height: 100%;
    /* overflow-y: hidden; */
}

/* #layout {
    display: flex;
    
    width: 100%;
   
    min-height: 100%;
    
} */

/* #content {
    width: 60%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
} */



/* #my-container {
    display: flex;
    flex: 1;
    background-color: azure;
    justify-content: center;
    align-items: center;
}

#selection-box {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    row-gap: 22px;
}

.quiz-category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: cadetblue;
} */

/* a {
    color: #212529;
}

a:link, a:visited {
    text-decoration: none;
} */

.cursor:hover {
    cursor: pointer;
}

.category-highlight:hover {
    filter: saturate(250%);
}

/* .cat-science {
    background-color: #03FCBA;
} */

.selected {
    filter: opacity(25%);
}

.rounded-lg {
    border: 1px hidden black !important;
    border-radius: 10px !important;
}

/* #quiz-element {
    min-height: 100%;
} */


/* #quiz-element {
    width: 60%;
    margin: 0 auto;
}
 */

.answer-highlight:hover {
    background-color: #D2FF96 !important;
    cursor: pointer;
}

#bar {
    height: 25px;
    background-color: #D2FF96;
    width: 0%;
}



.bg-science, .answer-highlight-science:hover {
    background-color: #03FCBA !important;
}

.bg-history, .answer-highlight-history:hover {
    background-color: #FFF75C !important;
}

.bg-geography, .answer-highlight-geography:hover {
    background-color: #D47AE8 !important;
}

.bg-film_and_tv, .answer-highlight-film_and_tv:hover {
    background-color: #EA3452 !important;
}

.bg-arts_and_literature, .answer-highlight-arts_and_literature:hover {
    background-color: #71FEFA !important;
}

.bg-music, .answer-highlight-music:hover {
    background-color: #FFA552 !important;
}

.bg-sport_and_leisure, .answer-highlight-sport_and_leisure:hover {
    background-color: #D2FF96 !important;
}

.bg-general_knowledge, .answer-highlight-general_knowledge:hover {
    background-color: #C4AF9A !important;
}

.bg-society_and_culture, .answer-highlight-society_and_culture:hover {
    background-color: #FF579F !important;
}

.bg-answer-white {
    background-color: white;
}

.bg-answer-white:hover, .bg-answer-correct:hover, .bg-answer-wrong:hover, .bg-answer-actually-correct:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .bg-custom {
        background-color: #D2FF96;
    }

    .answer-box {
        min-height: 46px;
    }
}

@media (max-width: 576px) {
    .fifty-fifty {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    .answer-box {
        min-height: 126px;
    }
}


.bg-answer-correct {
    background-color: green;
}

.bg-answer-wrong {
    background-color: darkred;
}

.bg-answer-actually-correct {
    /* border: 5px solid green !important; */
    background-color: #fff;
    box-shadow: inset 0px 0px 0px 5px green;
}

/* .blank {
    background-color: #fff;
} */

.solution {
    border: 5px solid green;
}


.radial-timer {
    width: 80px;
    height: 80px;
    background-color: #fff;
    position: relative;
    border-radius: 100%;
}


.second-half-js {
    width: 40px;
    height: 80px;
    /* background-color: #D2FF96; */
    position: absolute;
    right: 0;
    /* animation-name: mymove;
    animation-duration: 15s; */
    transform-origin: center left;
    /* z-index: auto; */
    border-radius: 0 80px 80px 0;
}

.seconds {
    z-index: auto;
    position: absolute;
    height: 100%;
    width: 100%;
}

.first-half-js {
    width: 40px;
    height: 80px;
    /* background-color: #D2FF96; */
    position: absolute;
    /* z-index: auto; */
    border-radius: 80px 0 0 80px;
    transform-origin: center right;
}

.half-mask {
    width: 40px;
    height: 80px;
    background-color: #fff;
    position: absolute;
    right: 0;
    border-radius: 0 80px 80px 0;
}

/* @keyframes mymove {
    
    0% {
        transform: rotate(0);
        transform-origin: center left;
    }
    100% {
        transform-origin: center left;
        transform: rotate(180deg);
    }   
  } */

  .little-circle {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      background-color: #fff;
  }

  .board-correct {
      color: green;
  }

  .board-wrong {
      color: darkred;
  }

  .board-unanswered {
      color: #fff;
  }

  .joker-highlight:hover {
    background-color: rgba(255, 255, 255, 0.418);
  }

  /* .joker-used {
    filter: opacity(25%);
  } */

  .small-font {
      font-size: 14px;
  }

  /* table {
      width: 30%;
  }

  tr, td {
      padding: 10px;
  } */


  .bg-gradient-a {
    background-image: linear-gradient(to right, #03FCBA, #FFF75C, #D47AE8) !important;
  }

  .bg-gradient-b {
      background-image: linear-gradient(to right, #EA3452, #71FEFA, #FFA552) !important;
  }

  .bg-gradient-c {
      background-image: linear-gradient(to right, #D2FF96, #C4AF9A, #FF579F) !important;
  }

  .nr-box {
      height: 50px;
      width: 50px;
  }

  .bg-science-light {
      background-color: #03fcba8a !important;
  }

  .bg-history-light {
      background-color: #fff75c8a !important;
  }

  .bg-geography-light {
    background-color: #d47ae88f !important;
  }

  .bg-film_and_tv-light {
      background-color: #ea34528a !important;
  }

  .bg-arts_and_literature-light {
      background-color: #71fef98a !important;
  }

  .bg-music-light {
      background-color: #ffa6528a !important;
  }
  
  .bg-sport_and_leisure-light {
      background-color: #d1ff968e !important;
  }

  .bg-general_knowledge-light {
      background-color: #c4af9a85 !important;
  }

  .bg-society_and_culture-light {
      background-color: #ff57a08c !important;
  }

  .bg-radial-gradient {
      background-image: radial-gradient(#03FCBA, #03fcba36) !important;
  }

  .bg-radial-gradient-history {
    background-image: radial-gradient(#FFF75C, #fff75c3b) !important;
}

.no-select {
    user-select: none;
}