/* .h-90-percent {
    height: 90%;
}

.h-10-percent {
    height:10%;
}

.my-color {
    background-color: rgb(137, 228, 167);
} */


body, html {
    width: 100%;
    height: 100%;
    /* overflow-y: hidden; */
}

/* #layout {
    display: flex;
    
    width: 100%;
   
    min-height: 100%;
    
} */

/* #content {
    width: 60%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
} */



/* #my-container {
    display: flex;
    flex: 1;
    background-color: azure;
    justify-content: center;
    align-items: center;
}

#selection-box {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    row-gap: 22px;
}

.quiz-category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: cadetblue;
} */

/* a {
    color: #212529;
}

a:link, a:visited {
    text-decoration: none;
} */

.category:hover {
    cursor: pointer;
}

.highlight:hover {
    filter: saturate(200%);
}

/* .cat-science {
    background-color: #03FCBA;
} */

.selected {
    filter: opacity(25%);
}

.border-radius {
    border: 1px hidden black;
    border-radius: 10px;
}

/* #quiz-element {
    min-height: 100%;
} */


/* #quiz-element {
    width: 60%;
    margin: 0 auto;
}
 */

.answer-highlight:hover {
    background-color: #03fcba62 !important;
    cursor: pointer;
}

#bar {
    height: 25px;
    background-color: #03fcba62;
    width: 0%;
}

