/* .h-90-percent {
    height: 90%;
}

.h-10-percent {
    height:10%;
}

.my-color {
    background-color: rgb(137, 228, 167);
} */


body, html {
    width: 100%;
    height: 100%;
    /* overflow-y: hidden; */
}

/* #layout {
    display: flex;
    
    width: 100%;
   
    min-height: 100%;
    
} */

/* #content {
    width: 60%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
} */



/* #my-container {
    display: flex;
    flex: 1;
    background-color: azure;
    justify-content: center;
    align-items: center;
}

#selection-box {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    row-gap: 22px;
}

.quiz-category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: cadetblue;
} */

/* a {
    color: #212529;
}

a:link, a:visited {
    text-decoration: none;
} */

.cursor:hover {
    cursor: pointer;
}

.category-highlight:hover {
    filter: saturate(250%);
}

/* .cat-science {
    background-color: #03FCBA;
} */

.selected {
    filter: opacity(25%);
}

.rounded-lg {
    border: 1px hidden black;
    border-radius: 10px;
}

/* #quiz-element {
    min-height: 100%;
} */


/* #quiz-element {
    width: 60%;
    margin: 0 auto;
}
 */

.answer-highlight:hover {
    background-color: #D2FF96 !important;
    cursor: pointer;
}

#bar {
    height: 25px;
    background-color: #D2FF96;
    width: 0%;
}



.bg-science, .answer-highlight-science:hover {
    background-color: #03FCBA;
}

.bg-history, .answer-highlight-history:hover {
    background-color: #FFF75C;
}

.bg-geography, .answer-highlight-geography:hover {
    background-color: #D47AE8;
}

.bg-movies, .answer-highlight-film-and-tv:hover {
    background-color: #EA3452;
}

.bg-literature, .answer-highlight-art-and-literature:hover {
    background-color: #71FEFA;
}

.bg-music, .answer-highlight-music:hover {
    background-color: #FFA552;
}

.bg-sport_and_leisure, .answer-highlight-sport-and-leisure:hover {
    background-color: #D2FF96;
}

.bg-general_knowledge, .answer-highlight-general-knowledge:hover {
    background-color: #C4AF9A;
}

.bg-society_and_culture, .answer-highlight-society-and-culture:hover {
    background-color: #FF579F;
}

.bg-answer-white {
    background-color: white;
}

.bg-answer-white:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .bg-custom {
        background-color: #D2FF96;
    }
}

.bg-answer-correct {
    background-color: green;
}

.bg-answer-wrong {
    background-color: darkred;
}

.bg-answer-actually-correct {
    /* border: 5px solid green !important; */
    box-shadow: inset 0px 0px 0px 5px green;
}

/* .blank {
    background-color: #fff;
} */

.solution {
    border: 5px solid green;
}


.radial-timer {
    width: 80px;
    height: 80px;
    background-color: #fff;
    position: relative;
    border-radius: 100%;
}


.second-half {
    width: 40px;
    height: 80px;
    /* background-color: #D2FF96; */
    position: absolute;
    right: 0;
    /* animation-name: mymove;
    animation-duration: 15s; */
    transform-origin: center left;
    /* z-index: auto; */
    border-radius: 0 80px 80px 0;
}

.seconds {
    z-index: auto;
    position: absolute;
    height: 100%;
    width: 100%;
}

.first-half {
    width: 40px;
    height: 80px;
    /* background-color: #D2FF96; */
    position: absolute;
    /* z-index: auto; */
    border-radius: 80px 0 0 80px;
    transform-origin: center right;
}

.half-mask {
    width: 40px;
    height: 80px;
    background-color: #fff;
    position: absolute;
    right: 0;
    border-radius: 0 80px 80px 0;
}

/* @keyframes mymove {
    
    0% {
        transform: rotate(0);
        transform-origin: center left;
    }
    100% {
        transform-origin: center left;
        transform: rotate(180deg);
    }   
  } */

  .little-circle {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      background-color: #fff;
  }

  .board-correct {
      color: green;
  }

  .board-wrong {
      color: darkred;
  }

  .board-unanswered {
      color: #fff;
  }

  .joker-highlight:hover {
    background-color: rgba(255, 255, 255, 0.418);
  }

