body, html {
    width: 100%;
    height: 100%;
    /* overflow-y: hidden; */
}

.cursor:hover {
    cursor: pointer;
}

.category-highlight:hover {
    filter: saturate(250%);
}

.selected {
    filter: opacity(25%);
}

.rounded-lg {
    border: 1px hidden black !important;
    border-radius: 10px !important;
}

.answer-highlight:hover {
    background-color: #D2FF96 !important;
    cursor: pointer;
}

.bg-science, .answer-highlight-science:hover {
    background-color: #03FCBA !important;
}

.bg-history, .answer-highlight-history:hover {
    background-color: #FFF75C !important;
}

.bg-geography, .answer-highlight-geography:hover {
    background-color: #D47AE8 !important;
}

.bg-movies, .answer-highlight-movies:hover {
    background-color: #EA3452 !important;
}

.bg-literature, .answer-highlight-literature:hover {
    background-color: #71FEFA !important;
}

.bg-music, .answer-highlight-music:hover {
    background-color: #FFA552 !important;
}

.bg-sport_and_leisure, .answer-highlight-sport_and_leisure:hover {
    background-color: #D2FF96 !important;
}

.bg-general_knowledge, .answer-highlight-general_knowledge:hover {
    background-color: #C4AF9A !important;
}

.bg-society_and_culture, .answer-highlight-society_and_culture:hover {
    background-color: #FF579F !important;
}

.bg-answer-white {
    background-color: white;
}

.bg-answer-white:hover, .bg-answer-correct:hover, .bg-answer-wrong:hover, .bg-answer-actually-correct:hover {
    cursor: pointer;
}

.cat-icon {
    width: 30%;
}

.cat-title {
    font-size: 16px;
}

.bg-answer-correct {
    background-color: green;
}

.bg-answer-wrong {
    background-color: darkred;
}

.bg-answer-actually-correct {
    background-color: #fff;
    box-shadow: inset 0px 0px 0px 5px green;
}

.radial-timer {
    width: 80px;
    height: 80px;
    background-color: #fff;
    position: relative;
    border-radius: 100%;
}

.second-half-js {
    width: 40px;
    height: 80px;
    position: absolute;
    right: 0;
    transform-origin: center left;
    border-radius: 0 80px 80px 0;
}

.seconds {
    z-index: auto;
    position: absolute;
    height: 100%;
    width: 100%;
}

.first-half-js {
    width: 40px;
    height: 80px;
    position: absolute;
    border-radius: 80px 0 0 80px;
    transform-origin: center right;
}

.half-mask {
    width: calc(50% + 1px);
    height: calc(100% + 2px);
    background-color: #fff;
    position: absolute;
    right: -1px;
    top: -1px;
    border-radius: 0 80px 80px 0;
}

.little-circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #fff;
}

.board-field-lg, .board-field-sm {
    font-size: 22px;
}

.board-correct {
    color: green;
}

.board-wrong {
    color: darkred;
}

.board-unanswered {
    color: #fff;
}

.joker-highlight:hover {
background-color: rgba(255, 255, 255, 0.418);
}

.small-font {
    font-size: 14px;
}

.no-select {
    user-select: none;
}

@media (max-width: 768px) {
    .bg-custom {
        background-color: #D2FF96;
    }

    .answer-box {
        min-height: 46px;
    }
}

@media (max-width: 576px) {
    .fifty-fifty {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    .answer-box {
        min-height: 120px;
    }
}

@media (min-width: 1200px) {
    .xl-lead {
        font-size: 1.25rem;
        font-weight: 300;
    }

    .answer-box {
        min-height: 126px;
    }
    
    .cat-icon {
        width: 45%;
    }

    .cat-title {
        font-size: 20px;
    }

    .board-field-lg {
        font-size: 27px;
    }
    
    .board-field-sm {
        font-size: 24px;
    }
}